# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

#NotMean
*.opensdf
*.sdf
*.ipch
*.csv
*.pdb
*.ilk
*.aps
*.suo

# Compile Folder
/ModelingWeatheringOfRock/Debug/
/ModelingWeatheringOfRock/Release/
*.dat
*.ilk
*.aps
ModelingWeatheringOfRock/x64/Debug/BoxinsetersectTriangle.obj
ModelingWeatheringOfRock/x64/Debug/cl.command.1.tlog
ModelingWeatheringOfRock/x64/Debug/CL.read.1.tlog
ModelingWeatheringOfRock/x64/Debug/CL.write.1.tlog
ModelingWeatheringOfRock/x64/Debug/ColourPopup.obj
ModelingWeatheringOfRock/x64/Debug/CUDA/GPUCalcRockAgingInner.cu.deps
ModelingWeatheringOfRock/x64/Debug/CUDA/GPUSolid.cu.deps
ModelingWeatheringOfRock/x64/Debug/CUDA/GPUSurface.cu.deps
ModelingWeatheringOfRock/x64/Debug/DlgColorChart.obj
ModelingWeatheringOfRock/x64/Debug/DlgOpenglView.obj
ModelingWeatheringOfRock/x64/Debug/DlgOpenglViewer.obj
ModelingWeatheringOfRock/x64/Debug/DlgOpenglViewerDialog.obj
ModelingWeatheringOfRock/x64/Debug/DlgPieDemoDlg.obj
ModelingWeatheringOfRock/x64/Debug/Global.obj
ModelingWeatheringOfRock/x64/Debug/GPUCalcRockAgingInner.cu.cache
ModelingWeatheringOfRock/x64/Debug/GPUCalcRockAgingInner.cu.obj
ModelingWeatheringOfRock/x64/Debug/GPUSolid.cu.cache
ModelingWeatheringOfRock/x64/Debug/GPUSolid.cu.obj
ModelingWeatheringOfRock/x64/Debug/GPUSurface.cu.cache
ModelingWeatheringOfRock/x64/Debug/GPUSurface.cu.obj
ModelingWeatheringOfRock/x64/Debug/ModelingWeatheringOfRock.lastbuildstate
ModelingWeatheringOfRock/x64/Debug/ModelingWeatheringOfRock.log
ModelingWeatheringOfRock/x64/Debug/ModelingWeatheringOfRock.unsuccessfulbuild
ModelingWeatheringOfRock/x64/Debug/ObjLoader.obj
ModelingWeatheringOfRock/x64/Debug/PieChartCtrl.obj
ModelingWeatheringOfRock/x64/Debug/ProbDistribution.obj
ModelingWeatheringOfRock/x64/Debug/stdafx.obj
ModelingWeatheringOfRock/x64/Debug/vc110.idb
*.dat
*.pdb
*.ilk
*.aps
Release/Model/Apple.blend
Release/Model/apple.jpg
Release/Model/Apple.mtl
Release/Model/Apple_Sphere.png
Release/Model/body.obj
Release/Model/capsule.mtl
Release/Model/capsule0.jpg
Release/Model/chessPhon.obj
Release/Model/dragon05_mudboxed_thumb.jpg
Release/Model/hand.obj
Release/Model/porsche.mtl
Release/Model/spyder.obj
Release/Model/stone1.OBJ
Release/Model/Stone2.OBJ
Release/Model/stone3.OBJ
Release/Model/stone4.OBJ
Release/Model/stone5.OBJ
Release/Model/Twig.png
Release/Model/world_curved.mtl
ModelingWeatheringOfRock/ModelingWeatheringOfRock.aps
Debug/ModelingWeatheringOfRock.pdb
