# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

#NotMean
*.opensdf
*.sdf
*.ipch
*.csv
*.pdb
*.ilk
*.aps
*.suo

# Compile Folder
/ModelingWeatheringOfRock/Debug/
/ModelingWeatheringOfRock/Release/
Debug/Step/Setp000000050.dat
Debug/Step/Setp000000040.dat
Debug/Step/Setp000000030.dat
Debug/Step/Setp000000020.dat
Debug/Step/Setp000000010.dat
Debug/Origin/M_stone3_P_50_S_1.dat
Debug/Origin/M_stone3_P_30_S_1.dat
Debug/Origin/M_stone3_P_150_S_1.dat
Debug/Origin/M_stone3_P_100_S_1.dat
Debug/ModelingWeatheringOfRock.pdb
Debug/ModelingWeatheringOfRock.ilk
ModelingWeatheringOfRock/ModelingWeatheringOfRock.aps
Debug/Step/Setp000000010.dat
Debug/ModelingWeatheringOfRock.pdb
Debug/ModelingWeatheringOfRock.ilk
ModelingWeatheringOfRock/vc110.pdb
Debug/Origin/M_stone3_P_20_S_1.dat
Debug/Origin/M_stone3_P_10_S_1.dat
Debug/Origin/M__P_50_S_1.dat
Debug/Origin/M__P_30_S_1.dat
Debug/Origin/M__P_150_S_1.dat
Debug/Origin/M__P_100_S_1.dat
Debug/ModelingWeatheringOfRock.pdb
Debug/ModelingWeatheringOfRock.ilk
*.pdb
ModelingWeatheringOfRock/vc110.pdb
ModelingWeatheringOfRock/ModelingWeatheringOfRock.aps
Debug/Origin/M_stone3_P_20_S_1.dat
Debug/Origin/M_stone3_P_10_S_1.dat
Debug/ModelingWeatheringOfRock.pdb
Debug/ModelingWeatheringOfRock.ilk
